// 通用样式，在app.vue中引入,弹窗组件
//@mixin positionTL ($pos,$top,$left,$w,$h) 
.modal {
    @include positionTL (fixed);//保持在视口固定，而且要作为子元素的锚点
    z-index: 6;
    &.slide-enter-active,&.slide-leave-active{
        transition: all .3s ease;
    }
    &.slide-enter,&.slide-leave-to{
        top: -100%;
    }
    &.slide-enter-to,&.slide-leave{
        top: 0;
    }
    // 注意这个.v-enter等初始状态一定要放在.v-enter-active类的后面
    .mask {
        @include positionTL (fixed);
        background-color: $colorI;
        opacity: .5;
    }
    .modal-dialog {
        @include positionTL (absolute,45%,50%,660px,auto);//为了美观不要设置太中间可，可以适当放高一些
        background-color: $colorG;
        transform: translate(-50%,-50%);//利用变换，实现居中
        .modal-dialog-header {
            height: 60px;
            background-color: $colorG;
            span {
                padding: 0 25px;
                line-height: 60px;
                font-size: $fontI;
            }
            .icon-close{//positionImg ($pos:absolute,$top:0,$right:0,$w:0,$h:0,$url:"",$size:contain)
                @include positionImg(absolute,23px,25px,16,16,"/imgs/icon-close.png");
                transition: transform .3s;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
// body插槽
        .modal-dialog-body {
            padding: 42px 40px 54px;
            font-size: 14px;
        }
// 两个a标签分别控制确定及取消
        .modal-dialog-footer {
            height: 82px;
            line-height: 82px;
            text-align: center;
            background-color: $colorG;
        }
    }
}